<h1>Usuarios</h1>
<p>
    <a href="{% url "usuario:new" %}">Alta Usuario</a>
</p>


<p>Hay <b>{{ num_usuarios }}</b> personas. <b>{{ num_chicas }}</b> chicas y <b>{{num_chicos}}</b> chicos</p>
<ul>
    {% for usuario in object_list %}
        <li>
            <p><b>{{ usuario.nombre }}</b> {{ usuario.apellidos }}</p>
            <p>
                <a href="{% url 'usuario:detail' usuario.id %}">Ver</a> | 
                <a href="{% url 'usuario:edit' usuario.id %}">Editar</a> | 
                <a href="{% url 'usuario:delete' usuario.id %}">Borrar</a> 
            </p>
        </li>
    {% endfor %}
</ul>

{% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/usuarios?page={{ page_obj.previous_page_number }}"><</a>
                {% endif %}
                <span class="page-current">
                    Pág {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    <a href="/usuarios?page={{ page_obj.next_page_number }}">></a>
                {% endif %}
            </span>
        </div>
    {% endif %}